<div id="signup-carousel" class="carousel slide" data-ride="carousel" date-interval="false" data-keyboard="false" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#signup-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#signup-carousel" data-slide-to="1"></li>
    <li data-target="#signup-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="sign-up-container">
    <div class="carousel-inner">
      <div id="first-item" class="item active slow">
        <h3>Sign up</h3>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name, label: "Your first name", required: true %>
          <%= f.input :last_name, label: "Your last name", required: false %>
        </div>
      </div>
      <div id="last-item" class="item">
         <h3>Sign up</h3>
        <div class="form-inputs">
          <%= f.input :email, label: "Your e-mail", required: true, autofocus: true %>
          <%= f.input :password, label: "Your password", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, label: "Please, confirm your password", label_html: {class: "police"}, required: true %>
        </div>
      </div>
      <div class="item">
         <h3>Sign up</h3>
        <div class="form-inputs">
          <%= f.input :phone_number, label: "Your phone number", required: true %>
          <%#= f.input :language, label: "Your preferred language (optional)", required: false %>
          <br><br>
          <div class="police largeur">
            <%= f.input :photo, label: "Upload a profile photo (optional)", label_html: {class: "police"} %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "button-rounded" %>
        </div>
        <%#= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
   <!-- Left and right controls -->

  <a class="left carousel-control signup-control-position-left" href="#signup-carousel" data-slide="prev">
      <span class="button-rounded-signup">Previous</span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control signup-control-position-right" href="#signup-carousel" data-slide="next">
    <span class="button-rounded-signup button-next">Next</span>
    <span class="sr-only">Next</span>
  </a>
</div>
