<div class="content-wrapper">
  <div class="my-container">
    <h1> <%= t('.title')%> </h1>
    <div class="to-do">
      <h2><%= t('.instructions')%> (<%= @tasks_in_progress.count %>)</h2>
      <%= select_tag :query_task, options_for_select(["All", "To do", "Done", "Essentials", "Housing", "Language", "Finance", "Education", "Mobility", "Healthcare", "Financial Aid", "Employment", "Family Unit", "Naturalisation", "Integration"], params[:query_task]), class: 'search-dropdown', include_blank: "Filter"%>
    </div>


      <% @tasks_in_progress.each do |task| %>
        <div class="card-container-task">
          <div class="category">
            <div class="category-color", style= "background-color:<%= task.category.color%>">
            </div>
            <div class="task-text">
            <p style= "color:<%= task.category.color%>">
              <%= task.category.name.upcase %>
            </p>
            <%= link_to task.title, task_path(task) %>
            </div>
          </div>
        </div>
      <% end %>

    <h2>DONE (<%= @tasks_completed.count %>)</h2>
    <% @tasks_completed.each do |task| %>
    <div class="card-container-task completed-tasks">
      <div class="category">
        <div class="category-color", style= "background-color:<%= task.category.color%>">
        </div>
        <div class="task-text">
          <p style= "color:<%= task.category.color%>">
            <%= task.category.name.upcase %>
          </p>
            <%= link_to task.title, task_path(task) %>
        </div>
        <div class="checkbox-done">
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<%= render 'shared/footer' %>
