<div class="global-wrapper content-wrapper">
  <div class="my-container">
    <div id="menu_positioner">
      <div class="dropdown">
        <i class="fas fa-ellipsis-v dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path(current_user) %>
          </li>
          <li>
            <%= link_to "Destroy Account", destroy_user_session_path(current_user) %>
          </li>
        </ul>
      </div>
    </div>
    <h1> <%= t('.title') %> </h1>
    <div class="to-do">
      <h2><%= t('.header')%> (<%= @tasks_in_progress.count %>)</h2>
      <%#= select_tag :query_task, options_for_select(["All", "To do", "Done", "Essentials", "Housing", "Language", "Finance", "Education", "Mobility", "Healthcare", "Financial Aid", "Employment", "Family Unit", "Naturalisation", "Integration"], params[:query_task]), class: 'search-dropdown', include_blank: "Filter"%>
    </div>

      <% @tasks_in_progress.each do |task| %>
        <div class="card-container-task">
          <div class="category">
            <div class="category-color", style= "background-color:<%= task.category.color%>">
            </div>
            <div class="task-text">
              <p style= "color:<%= task.category.color%>">
                <%= task.category.name.upcase %>
              </p>
              <div class="card-title police">
                <%= link_to task.title, task_path(task) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    <h2><%= t('.sub-header') %> (<%= @tasks_completed.count %>)</h2>
    <% @tasks_completed.each do |task| %>
    <div class="card-container-task completed-tasks">
      <div class="category">
        <div class="category-color", style= "background-color:<%= task.category.color%>">
        </div>
        <div class="task-text">
          <p style= "color:<%= task.category.color%>">
            <%= task.category.name.upcase %>
          </p>
            <%= link_to task.title, task_path(task) %>
        </div>
        <div class="checkbox-done">
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<%= render 'shared/footer' %>
