<div class="initializer-container" id="id-for-chat-welcome">
    <div class="to-do">
      <h1><%= t('.header')%></h1>
      <br>
      <h2><%= t('.sub-header') %></h2>
    </div>
    <% @tasks.each do |task| %>
    <div class="card-initializer">
      <div class="initializer-text">
        <p><%= task.title %></p>
      </div>
      <div id="task_<%= task.id %>">
        <%= render 'initialize', task: task %>
      </div>
    </div>
    <% end %>
    <%= link_to t(".button"), tasks_path, class: "button-rounded button-redirect-index" %>
</div>

<%= render 'shared/footer' %>
