<div class="initializer-container" id="id-for-chat-welcome">
    <div class="to-do">
      <h1><%= t('.header')%></h1>
      <h2><%= t('.sub-header') %></h2>
    </div>
    <% @tasks.each do |task| %>
    <div class="card-initializer">
      <div class="initializer-text">
        <p><%= task.title %></p>
      </div>
      <div id="task_<%= task.id %>">
      <%= simple_form_for task, remote: true, url: complete_subtasks_task_path(task), method: :post do |f| %>
      <div class="card-btn">
        <%= f.hidden_field :task_id, value: task.id %>
        <%= button_tag class: "initialize-btn" do %>
        <i class="far fa-circle" style="color: #BB6BD9;"></i>
        <% end %>
      </div>
      </div>
    <% end %>
    </div>
    <% end %>
    <%= link_to t(".button"), tasks_path, class: "button-rounded button-redirect-index" %>
</div>

<%= render 'shared/footer' %>



