<div class="global-wrapper task-show-container">
  <div class="wrap-show-task">
    <div class="task">
      <div class="abstract", style= "background-color:<%= @task.category.color%>">
        <p> <%= @task.category.name %> </p>
        <h3>
          <%= @task.title %>
        </h3>
        <span id="toggle-description" class="glyphicon glyphicon-menu-down"></span>
      </div>
      <div class="task-details card-content hidden">
        <div class="details__inner">
          <%= @task.description %>
        </div>
      </div>
    </div>
  </div>

  <div class="subtask-list"
        data-redirection-url= "<%= tasks_path %>"
        data-alert-title= "<%= t('.alert_title') %>"
        data-alert-description= "<%= t('.alert_description').html_safe %>">
    <% @subtasks.each do |subtask| %>
      <%= render 'subtask', subtask: subtask, task: @task %>
    <% end %>
  </div>

<!--   <%# unless @links.nil? %>
  <div class="useful-links-box">
    <ul class="useful-links-list">
      <%# @links.each do |l| %>
        <li><a class="task-show-links"><%#= l.link %></a></li>
      <%# end %>
    </ul>
  </div>
  <%# end %> -->
  <div class="button-task-show col-sm-offset-3 col-xs-offset-1 col-md-offset-4 col-xl-offset-5">
    <%= link_to tasks_path, method: :get do %>
    <button class="button-rounded">Return to Tasks</button>
    <% end %>
  </div>
</div>
<!-- <i class="fas fa-circle show-subtask-circle" style="color: #BB6BD9;"></i> -->


