<div class="my-container">
  <div class="user-show">
    <div class="user-profile-name">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      </div>
    <div>
      <%= cl_image_tag current_user.photo, height: 200, width: 200, crop: :fill, class: "user-show-photo" %>
    </div>
     <div class="user-details">
      <br><br>
      Email: <%= current_user.email %>
      Phone number: <%= current_user.phone_number%>
      </div>
  </div>
</div>
<%= render 'shared/footer' %>
