<div class="footer">
  <%# if current_user.user_type == "refugee" %>
   <!--  <div class="footer-content">
      <%#= link_to home_path, class: current_class?(home_path) do %>
        <i class="fas fa-home fas-footer"></i>
        <p> <%#= t('.home') %> </p>
      <%# end %>
    </div> -->

  <!-- SI TU VEUX QUE L'ICONE HOME APPARAISSE QUAND MÊME ET REDIRIGE VERS LE WELCOME SCREEN UNCOMMENT -->
  <%# else %>
    <!-- <div class="footer-content"> -->
      <%#= link_to root_path, class: current_class?(root_path) do %>
        <!-- <i class="fas fa-home fas-footer"></i> -->
        <!-- <p> <%#= t('.home') %> </p> -->
      <%# end %>
    <!-- </div> -->

  <%# end %>

  <div class="footer-content">
    <%= link_to user_path(current_user), class: current_class?(user_path(current_user)) do %>
      <i class="fas fa-user fas-footer"></i>
      <p> <%= t('.user') %> </p>
     <% end %>
  </div>

  <% if current_user.user_type == "refugee" %>
    <div class="footer-content">
      <%= link_to tasks_path, class: current_class?(tasks_path) do %>
        <i class="fas fa-tasks fas-footer"></i>
        <p> <%= t('.task') %> </p>
      <% end %>
    </div>
  <% end %>

  <div class="footer-content">
    <%= link_to resources_path, class: current_class?(resources_path) do %>
      <i class="fas fa-rocket fas-footer"></i>
      <p> <%= t('.resources') %> </p>
     <% end %>
  </div>

  <div class="footer-content" id="sert-a-rien">
    rien
      <i>rien</i>
      <p> rien </p>
  </div>
</div>
