<div class = "content-wrapper">
  <div class="my-container">
    <h1><%= t('.hello') current_user.first_name.capitalize %></h1>
    <h2><%= t('.question') %></h2>
    <div class = "date">
    <%= Time.now.strftime("%A").upcase %>
    <%= Time.now.strftime("%B, %d %Y") %>
    </div>

    <h2><%= t('.title-news') %></h2>

    <div class = "card card-content" style= "margin-left: 37px">
          <p> <%= t('.news') %></p>

    </div>

    <h2><%= t('.to-do') %></h2>

    <div class="card-container">
      <div class="card-home">
        <div class="category">
          <div class="category-color"></div>
          <div class="category-text"> <p>banking</p></div>
        </div>
        <div class="completion">
          <p>90%</p>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>

  </div>




