<div id="myCarousel" class="carousel slide" data-ride="carousel" date-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <h3><%= t('.title-1-1') %>
        <br><%= t('.title-1-2') %></br>
      </h3>
        <div class='media logo'>
          <%= image_tag 'analytics.png', class: 'logo' %>
          <!-- <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_1.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_2.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_3.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_4.png'> -->
        </div>
        <p><!-- French administration can be complicated, especially if you just arrived in our beautiful country. We provide you with <strong> simple tasks to complete </strong> in order to make sure you can benefit from everything you are entitled to. --> <%= t('.text-1') %></p>
    </div>

    <div class="item">
      <h3>
          <%= t('.title-2-1') %>
          <br><%= t('.title-2-2') %></br>
        </h3>
        <div class='media logo'>
          <%= image_tag 'placeholder.png', class: 'logo'%>
          <!-- <img class='logo' src='https://s3.amazonaws.com/jebbles-codepen/icon.png'> -->
        </div>
        <p><%= t('.text-2') %></p>
    </div>

    <div class="item">
      <h3>
         <%= t('.title-3-1') %>
          <br><%= t('.title-3-2') %></br>
        </h3>
        <div class='media logo'>
          <%= image_tag 'networking.png', class: 'logo' %>
        </div>
        <p><%= t('.text-3') %> </p>
        <%= link_to t('.sign-up'), are_you_path, class: 'button-rounded', style: 'padding: 12px 100px'%>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only"><%= t('.previous') %></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only"><%= t('.next') %></span>
  </a>
</div>
