<div class="global-wrapper">
  <div class="row">
    <div class="col-xs-10 col-sm-8 col-md-6 col-xl-4 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-xl-offset-4">
      <div class="mobile-container">
        <div class="resources-header-title">
          <h1><%= t(".map") %></h1>
        </div>
        <div class="resource-card">
          <div class="map-card" style="background-image: url(<%= image_path('background-map.png')%>);">
            <div class="resources-inner-card-flexbox">
              <%= link_to "Map", map_path, class: "card-link card-link:hover"%>
              <p>Click here to see what's around you!</p>
            </div>
          </div>
          <div class="text-card">
            <div class="resources-inner-card-flexbox">
              <%= link_to "Resources", acronyms_path, class: "card-link card-link:hover"%>
              <p>A full list of abreviations.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
