

<div class="my-container">
  <h1><%= t(".map") %></h1>
  <div class="resource-card">
    <div class="map-card" style="background-image: url(<%= image_path('background-map.png')%>);">
      <%= link_to "Map", map_path, class: "card-link card-link:hover"%>
    </div>
    <div class="text-card">
      <%= link_to "Resources", acronyms_path, class: "card-link card-link:hover"%>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
