<div class = "global-wrapper mobile-container welcome-container">
   <div class="img-flag text-right">
    <%# if I18n.locale == I18n.default_locale %>
      <%= link_to (image_tag "france.png"), { :locale=>'fr' } %>
    <%# else %>
      <%= link_to (image_tag "uk.png"), { :locale=> '' } %>
    <%#end%>
  </div>
<!--     <h4><em> An app to help refugees with their paperwork </em></h4>
  <h5><em> (Currently only available for French paperwork) </em> </h5> -->
  <div> <%= image_tag 'medium_fox.png', id: "fox-image" %> </div>
  <h2>
    <span id="banner-typed-text"></span>
  </h2>
      <% if user_signed_in? %>
        <p style="color: grey"><em> Welcome Back <%= current_user.first_name %> ❤️ </em></p>
        <%= render 'shared/footer' %>
      <% else %>
      <div>
        <%= link_to t(".get_started"), onboarding_path, class: 'button-rounded', style: 'padding: 12px 60px' %>
      </div>
        <%= link_to t(".sign_in"), new_user_session_path %>
      <% end %>
    </span>
</div>
