<div class = "welcome-container">
  <div class="navbar">
   <div class="language">
    <% if I18n.locale == I18n.default_locale %>
      <%= link_to "French", { :locale=>'fr' } %>
    <% else %>
      <%= link_to "English", { :locale=> nil } %>
    <%end%>
   </div>
  </div>
<!--     <h4><em> An app to help refugees with their paperwork </em></h4>
  <h5><em> (Currently only available for French paperwork) </em> </h5> -->
  <%= image_tag 'medium_fox.png', id: "fox-image" %>
  <h2>
    <span id="banner-typed-text"></span>
  </h2>

<!--  <script>
    setTimeout(function () {
    window.location.href= 'localhost:3000/onboarding'},5000);
  </script> -->
<!--   <div class="buttons-welcome"> -->
    <span>
      <%= link_to t(".get_started"), onboarding_path, class: 'button-rounded' %>
    </span>
    <span>
      <div class="a">
      <%= link_to t(".sign_in"), new_user_session_path %>
      </div>
    </span>
<!--   </div> -->
</div>
